.glyph-click {
  cursor: pointer;
}

.glyphicon-edit {
  font-size: 0.8em;
  color: #808080;
}

.glyphicon-edit:hover {
  color: #666666;
}

.glyphicon-thumbs-up:hover {
  color: #0066ff;
}

.glyphicon-thumbs-down:hover {
  color: #ff6600;
}

.glyphicon-remove:hover {
  color: #ff1a1a;
}
