.glyph-click {
  cursor: pointer;
}

.glyphicon-edit:hover {
  color: #666666;
}

.glyphicon-trash:hover {
  color: #ff1a1a;
}

.glyphicon-thumbs-up:hover {
  color: #0066ff;
}

.glyphicon-thumbs-down:hover {
  color: #ff6600;
}

.glyphicon-remove:hover {
  color: #ff1a1a;
}
