<div class="container">

  {{new-question saveQuestion2="saveQuestion3"}}

  <hr>
  {{#each model as |question|}}
    <h3>"{{question.title}}"</h3>
    <h5>- {{question.author}}</h5>
    {{#link-to 'question' question.id}}<button class="btn btn-info">Details</button>{{/link-to}}
    <hr>
  {{/each}}
</div>
